<div class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-ios-contact-outline"></i></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" (click)="iniciarSesion()">Entrar</button>
    </div>
    <a class="forgot" href="#">¿Olvidaste tu contraseña?</a></form>
</div>
