<div class="container">
  <div class="row">
    <div class="col-md-6" style="height: 500px;background-color: #fefefe;">
      <div class="card">
        <div class="card-body"
             style="height: 500px;background-color: rgb(10, 1, 71);border-radius: 40px;box-shadow: 0px 0px;">
          <h4 class="card-title" style="color: rgb(255,255,255);font-size: 50px;">Ciclos</h4>
          <h4 class="card-title" style="color: rgb(255,255,255);font-size: 20px;">Ciclo while</h4>
          <p class="card-text" style="font-size: 16px;color: rgb(255,255,255);">Nullam id dolor id nibh ultricies
            vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
            gravida at eget metus.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <iframe>

        <!-- Codigo de iframe aqui -->

      </iframe>

    </div>
  </div>
</div>
