<div class="highlight-clean" style="background: url(assets/img/programacionBackground.jpg);height: 800px;">
  <div class="container" style="opacity: 1;">
    <div class="intro">
      <h2 class="text-center" style="color: rgb(255,255,255);">PROGRAMACIÓN</h2>
      <p class="text-center" style="color: rgb(255,255,255);">ROBERTO AGUIRRE PEREZ</p>
    </div>
    <div class="buttons">
      <div class="row space-rows">
        <div class="col">
          <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
               style="border-radius: 15px;">
            <div class="card-header" style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
              <span class="space"><a href="#"></a></span>
              <div class="cardheader-text"></div>
            </div>
            <div class="card-body">
              <p class="card-text sub-text-color" style="font-size: 20px;">Ciclos</p>
              <button class="btn btn-primary" type="button" routerLink="/actividad"
                      style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
               style="border-radius: 15px;">
            <div class="card-header" style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
              <span class="space"><a href="#"></a></span>
              <div class="cardheader-text"></div>
            </div>
            <div class="card-body">
              <p class="card-text sub-text-color" style="font-size: 20px;">Ciclos</p>
              <button class="btn btn-primary" type="button"
                      style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
               style="border-radius: 15px;">
            <div class="card-header" style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
              <span class="space"><a href="#"></a></span>
              <div class="cardheader-text"></div>
            </div>
            <div class="card-body">
              <p class="card-text sub-text-color" style="font-size: 20px;">Ciclos</p>
              <button class="btn btn-primary" type="button"
                      style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
               style="border-radius: 15px;">
            <div class="card-header" style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
              <span class="space"><a href="#"></a></span>
              <div class="cardheader-text"></div>
            </div>
            <div class="card-body">
              <p class="card-text sub-text-color" style="font-size: 20px;">Ciclos</p>
              <button class="btn btn-primary" type="button"
                      style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
               style="border-radius: 15px;">
            <div class="card-header" style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
              <span class="space"><a href="#"></a></span>
              <div class="cardheader-text"></div>
            </div>
            <div class="card-body">
              <p class="card-text sub-text-color" style="font-size: 20px;">Ciclos</p>
              <button class="btn btn-primary" type="button"
                      style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
