<div style="color: #212529;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row space-rows">
          <div class="col">
            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
                 style="border-radius: 15px;">
              <div class="card-header"
                   style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;"><span
                class="space"><a href="#"></a></span>
                <div class="cardheader-text"></div>
              </div>
              <div class="card-body">
                <p class="card-text sub-text-color" style="font-size: 20px;">Matemáticas</p>
                <p class="card-text cardbody-sub-text" style="font-size: 12px;">Ciencia que estudia las propiedades de
                  los números</p>
                <button class="btn btn-primary" type="button"
                        style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(72, 0, 0);"></button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
                 style="border-radius: 15px;">
              <div class="card-header"
                   style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;"><span
                class="space"><a href="#"></a></span>
                <div class="cardheader-text"></div>
              </div>
              <div class="card-body">
                <p class="card-text sub-text-color" style="font-size: 20px;">Programación</p>
                <p class="card-text cardbody-sub-text" style="font-size: 12px;">La programación es el proceso utilizado
                  para idear y ordenar las acciones necesarias para realizar un proyecto</p>
                <button class="btn btn-primary" type="button" routerLink="/curso"
                        style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(10, 1, 71);"></button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
                 style="border-radius: 15px;">
              <div class="card-header"
                   style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;"><span
                class="space"><a href="#"></a></span>
                <div class="cardheader-text"></div>
              </div>
              <div class="card-body">
                <p class="card-text sub-text-color" style="font-size: 20px;">Fisica</p>
                <p class="card-text cardbody-sub-text" style="font-size: 12px;">Ciencia que estudia las propiedades de
                  la materia y de la energía, establece las leyes que explican los fenómenos naturales</p>
                <button class="btn btn-primary" type="button"
                        style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(50, 88, 0);"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="row space-rows">
          <div class="col">
            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
                 style="border-radius: 15px;">
              <div class="card-header"
                   style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;"><span
                class="space"><a href="#"></a></span>
                <div class="cardheader-text"></div>
              </div>
              <div class="card-body">
                <p class="card-text sub-text-color" style="font-size: 20px;">Quimica</p>
                <p class="card-text cardbody-sub-text" style="font-size: 12px;">Ciencia que estudia la composición y las
                  propiedades de la materia</p>
                <button class="btn btn-primary" type="button"
                        style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(0, 81, 14);"></button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950"
                 style="border-radius: 15px;">
              <div class="card-header"
                   style="height: 120px;border-top-left-radius: 15px;border-top-right-radius: 15px;"><span
                class="space"><a href="#"></a></span>
                <div class="cardheader-text"></div>
              </div>
              <div class="card-body">
                <p class="card-text sub-text-color" style="font-size: 20px;">Biología</p>
                <p class="card-text cardbody-sub-text" style="font-size: 12px;">Ciencia que estudia la estructura de los
                  seres vivos y de sus procesos vitales</p>
                <button class="btn btn-primary" type="button"
                        style="width: 10px;height: 10px;font-size: 52px;background-color: rgb(94, 0, 50);"></button>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>


      <div class="col-md-4" style="color: #e6e6e6;padding-top: 20px;">
        <div class="card"
             style="padding-top: 10px;border-top-left-radius: 15px;background-color: #e6e6e6;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
          <div class="card-header"
               style="padding-top: 20px;height: 100px;background-color: #e6e6e6;text-align: center;padding-bottom: 11px;border-radius: 20px;">
            <h5 class="mb-0" style="color: rgb(40,39,39);font-size: 40px;">PENDIENTES</h5>
          </div>
          <div class="card-body" style="color: #e6e6e6;">
            <section style="padding-bottom: 10px;">
              <div class="container">
                <div class="photo-card" style="height: 50px;">
                  <div class="photo-background"
                       style="height: 50px;background-color: rgb(72, 0, 0);min-height: 50px;width: 120px;">
                    <h1 style="font-size: 12px;padding: 10px;text-align: center;">MATEMÁTICAS</h1>
                  </div>
                  <div class="photo-details" style="padding-top: 5px;">
                    <h1 style="font-size: 13px;">Sumas</h1>
                    <button class="btn btn-primary" type="button"
                            style="width: 10px;height: 10px;font-size: 52px;"></button>
                    <p></p>
                    <div class="photo-tags">
                      <ul></ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section style="padding-bottom: 15px;">
              <div class="container">
                <div class="photo-card" style="height: 50px;">
                  <div class="photo-background"
                       style="height: 50px;background-color: rgb(72, 0, 0);min-height: 50px;width: 120px;">
                    <h1 style="font-size: 12px;padding: 10px;text-align: center;">MATEMÁTICAS</h1>
                  </div>
                  <div class="photo-details" style="padding-top: 5px;">
                    <h1 style="font-size: 13px;">Restas</h1>
                    <button class="btn btn-primary" type="button"
                            style="width: 10px;height: 10px;font-size: 52px;"></button>
                    <p></p>
                    <div class="photo-tags">
                      <ul></ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section style="padding-bottom: 10px;">
              <div class="container">
                <div class="photo-card" style="height: 50px;">
                  <div class="photo-background"
                       style="height: 50px;background-color: rgb(50, 88, 0);min-height: 50px;width: 120px;">
                    <h1 style="font-size: 12px;padding: 10px;text-align: center;">FÍSICA</h1>
                  </div>
                  <div class="photo-details" style="padding-top: 5px;">
                    <h1 style="font-size: 13px;">Tiro parabólico</h1>
                    <button class="btn btn-primary" type="button"
                            style="width: 10px;height: 10px;font-size: 52px;"></button>
                    <p></p>
                    <div class="photo-tags">
                      <ul></ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section style="padding-bottom: 10px;">
              <div class="container">
                <div class="photo-card" style="height: 50px;">
                  <div class="photo-background"
                       style="height: 50px;background-color: rgb(50, 88, 0);min-height: 50px;width: 120px;">
                    <h1 style="font-size: 12px;padding: 10px;text-align: center;">FÍSICA</h1>
                  </div>
                  <div class="photo-details" style="padding-top: 5px;">
                    <h1 style="font-size: 13px;">MCU</h1>
                    <button class="btn btn-primary" type="button"
                            style="width: 10px;height: 10px;font-size: 52px;"></button>
                    <p></p>
                    <div class="photo-tags">
                      <ul></ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section style="padding-bottom: 10px;">
              <div class="container">
                <div class="photo-card" style="height: 50px;">
                  <div class="photo-background"
                       style="height: 50px;background-color: rgb(50, 88, 0);min-height: 50px;width: 120px;">
                    <h1 style="font-size: 12px;padding: 10px;text-align: center;">QUÍMICA</h1>
                  </div>
                  <div class="photo-details" style="padding-top: 5px;">
                    <h1 style="font-size: 13px;">Redux</h1>
                    <button class="btn btn-primary" type="button"
                            style="width: 10px;height: 10px;font-size: 52px;"></button>
                    <p></p>
                    <div class="photo-tags">
                      <ul></ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
